.main_chat
 .header
  .left-header
   .left-header__title
    グループ名
   %ul.left-header__members
    メンバー名
  .right-header
   .right-header__btn
    = link_to('Edit', "#",class:'right-header__btn')
 .messages
  .message
   .upper-message
    .upper-message__name
     ネーム
    .upper-message__date
     2014/11/04
   .low-message
    .low-message__content
     テキスト
  .message
   .upper-message
    .upper-message__name
     ネーム
    .upper-message__date
     2014／11／10
   .low-message
    .low-message__content
     テキスト
  .message
   .upper-message
    .upper-message__name
     ネーム
    .upper-message__date
     2014/07/13
   .low-message
    .low-message__content
     テキスト
   .message
    .upper-message
     .upper-message__name
      ネーム
     .upper-message__date
      2014/07/13
    .low-message
     .low-message__content
      テキスト
 .form
  %form
   %input{type: "text", class: "form__message", placeholder: "type a message"}
   .form__mask
    %label.form__mask__image
     = icon('fa','image',class: 'icon')
     %input.hidden{type: 'file'}
   %input.form__submit{type: 'submit', value: 'Send'}
   
   